body{scrollbar-face-color:#ffffff;scrollbar-highlight-color:#48494A;scrollbar-shadow-color:#D2D2D2;scrollbar-3dlight-color:#ffffff;scrollbar-arrow-color:#B0CE37;scrollbar-track-color:#ffffff;scrollbar-darkshadow-color:#ffffff;}
.breadcrumbs {font-size:11px;font-weight:normal;color:#ffffff;}
.breadcrumbs a{font-weight:normal;color:#ffffff;}
.breadcrumbs a:link,.breadcrumbs a:visited{color:#ffffff;text-decoration:none;}
.breadcrumbs a:active,.breadcrumbs a:hover{color:#000000;text-decoration:none;}
form{margin:0;}
input,select{font-size:11px;text-indent:2px;}
.bodyline	{ background-color: #48494A; border: 1px #48494A solid; }
.title {line-height: 17px!important;font-family:"Arial Narrow", Helvetica, sans-serif;font-size:14px;font-weight:bold;text-align: left;margin-bottom:6px;margin-top:10px;color:#B0CE37;}
.title a{line-height: 17px!important;font-family:"Arial Narrow", Helvetica, sans-serif;font-size:14px;font-weight:bold;text-align: left;margin-bottom:6px;margin-top:10px;color:#B0CE37;}
.title a:link,.title a:visited{line-height: 25px!important;font-family:"Arial Narrow", Helvetica, sans-serif;font-size:22px;font-weight:bold;text-align: left;margin-bottom:6px;margin-top:10px;color:#B0CE37;}
.title a:active,.title a:hover{line-height: 25px!important;font-family:"Arial Narrow", Helvetica, sans-serif;font-size:22px;font-weight:bold;text-align: left;margin-bottom:6px;margin-top:10px;color:#B0CE37;}
.innerline	{ border: 2px #48494A solid; }

* {
margin:0;
padding:0;
}

/*
buat font style
*/
body {
background: url('../images/serenity-bk.jpg') no-repeat 0 0 #fff;
background-attachment:fixed;
background-position: top center;
color: #000;
font-family: Arial, Verdana, sans-serif;
margin: 0;
padding: 0;
}
#pagetitle {line-height: 25px!important;font-family:"Arial Narrow", Helvetica, sans-serif;font-size:22px;font-weight:bold;text-align: left;margin-bottom:6px;margin-top:10px;color:#B0CE37;}

#toparea {
 color: #000;
 background: url('../images/logoarea2.jpg') no-repeat 0 0 #ffffff;
 text-align: right;
 margin: 0px 0px 0px 0px;
 padding: 0px;
 height: 414px;
 width: 972px;
 float: center;
}

#banner {
 height: 100px; 
 width: 972px;
 background: url('../images/header-bg.jpg') no-repeat 0 0 #ffffff; 
 padding-bottom: 2px;
}

#logo {
 width:160px; 
 height: 41px; 
 float: left; 
 margin:16px; 
 padding:10px 0;
}
#sitename {
 color: #000;
 background: url('../images/shadow2.jpg') no-repeat 0 0 #ffffff;
 text-align: center;
 margin: 420px 10px 10px -10px;
 padding: 1.0em 0.0em 0.0em 0;
 height: 43px;
 width: 972px;
 float: center;
}

#base {
 color: #000;
 text-align: center;
 background: transparent;
 margin: 100px 5px 10px 0px;
 padding: 10px;
 height: 100px;
 width: 922px;
 float: center;
 clear:both;
}

#wrapper { 
 margin: 0 auto;
 width: 972px;
}

#leftcolumn { 
 color: #000;
 text-align: left;
 border: 0px solid #ccc;
 background: #ffffff;
 margin: 12px 8px 0px;
 padding: 10px;
 padding-right: 0px;
 height: 100%;
 width: 170px;
 float: left;
}

#leftcolumn a {
 font-size: 14px;
}
#rightcolumn { 
 float: right;
 text-align: left;
 color: #000;
 border: 0px solid #ccc;
 background: #ffffff;
 margin: 12px 5px 10px 0px;
 padding: 10px;
 height: 100%;
 width: 750px;
 display: inline;

}
/*
buat mengeset font size disemua div
sehingga menimpa beberapa font style sebelumnya
*/
div {
   font-size: 11px;
}

/*
jika image berada di dalam tag <a> maka image akan memiliki border, disini kami menghilangkannya
*/
img {
   border: 0;
}


/* mengeset semua link agar memiliki garis bawah dan warna kebiru-biruan */
a,
a:link 
a:active {
   text-decoration: none;
/* css validation akan memberi peringatan jika warna yang diset tanpa warna background. Ini akan menjelaskan element ini buat menginherit bg colour dari element induk*/
   background-color: inherit; 
   color: #B0CE37; 
}

a:visited {
   text-decoration: none;
   background-color: inherit;
  color: #B0CE37;                /* warna yang berbeda dapat digunakan buat link yang telah dikunjungi */
}


/* menghilangkan garis bawah pada hover dan merubah warna */
a:hover {
   text-decoration: none;
   background-color: transparent;
   color: #B0CE37;
}

/*layout*/
body {
   background-color: #ffffff;
   color: #333;
	margin-top:0px;
   margin:0em;    /* memberi ruang kosong di pagewrapper */
}


div#pagewrapper {
   border: 1px solid black;
   margin: 0 auto;       /* untuk membuat posisi tengah wrapper */
   max-width: 80em;   
   min-width: 60em;
   background-color: #fff;;
   color: black;
}


/*** header ***
menyembunyikan text dan menimpanya dengan image

*/
div#header {
   height: 80px;    /* mengatur ukuran image */  
}

div#header h1 a {
/* set image disini */
   background: #385C72 url('../images/Capture.JPG') no-repeat 0 12px; 
   display: block;
   height: 80px;             
   text-indent: -999em;  /* buat menyembunyikan text */
   text-decoration:none; 
}

/* posisi buat search */
div#search {
   float: right;
   width: 25em;    
   text-align: right;
   padding: 3.0em 0.2em 0.2em 0;
   margin: 0 1em;
}

div#menu_horiz {
   float: right;
   width: 25em;    
   text-align: right;
   padding: 1.0em 0.2em 0.2em 0;
   margin: 0 1em;
}

 div#content {
   margin: 1.5em auto 2em 0;   /* menambahkan ruang kosong di bawah menu dan content */
}


div#main {
   margin-left: 29%; /* memberikan ruang buat sidebar di sebelah kiri*/
   margin-right: 2%; /* dan ruang kosong di sebelah kanan */
}

div#sidebar {
   float: left;        /* mengeset sidebar agar disebelah kiri */
   width: 26%;     
   display: inline;  
   margin-left: 0;
}

div#footer {
   clear: both;       /* membuat footer agar tetap di bawah content dan menu*/
   color: #fff;
   background-color: #385C72; 
}

div#footer p {
   font-size: 0.8em;
   padding: 1.5em;       /* memberi ruang pada footer */
   text-align: center;  /* memposisikan text di tengah */
   margin: 0;
}

div#footer p a {
   color: #fff; /* agar link footer warnanya tidak sama dengan background */
}

/* membuat hr baru dengan banyak div */
div.hr {
   height: 1px;
   padding: 1em;
   border-bottom: 1px dotted black;
   margin: 1em;
}

/* penghubung link pada konten */
div.left49 {
  width: 49%; /* 50% akan membuat terjadi eror di beberapa browser*/
}

div.right49 {
  float: right;
  width: 49%;
  text-align: right;
}




/********************
CONTENT STYLING
*********************/
div#content {
  font-size: 14px;
}

/* HEADINGS */
div#content h1 {
   font-size: 11px; 
   line-height: 1em;
   margin: 0;
}
div#content h2 {
	color: #294B5F; 
	font-size: 16px; 
	text-align: left; 
/* memberikan ruang di sekitar text */
	padding-left: 0.5em;
	padding-bottom: 1px;
/* mengeset border di header*/
	border-bottom: 1px solid #e7ab0b; 
	border-left: 1.1em solid #e7ab0b; 
        line-height: 1.5em;
/* memberi ruang pada border */
        margin: 0 0 0.5em 0;
}
div#content h3 {
   color: #294B5F; 
   font-size: 11px;
   line-height: 1.3em;
   margin: 0 0 0.5em 0;
}
div#content h4 {
   color: #294B5F; 
   font-size: 11px;
   line-height: 1.3em;
   margin: 0 0 0.25em 0;
}
div#content h5 {
   color: #294B5F; 
   font-size: 11px;
   line-height: 1.3em;
   margin: 0 0 0.25em 0;
}
div#content img {
   width: 100px;
   height: 100px;
}
h6 {
   color: #294B5F; 
   font-size: 11px;
   line-height: 1.3em;
   margin: 0 0 0.25em 0;
}
/* END HEADINGS */

/* TEXT */
p {
   font-size: 12px;
   margin: 0 0 1.5em 0; /* memberi ruang pada p */
   line-height: 1.4em;
   padding: 0;
}

blockquote {
   border-left: 10px solid #ddd;
   margin-left: 10px;
}
strong, b {

   font-weight: bold;
}
em, i {

   font-style:normal;
}

/* Wrapping text di tag <code> akan membuat css tidak valid */
code, pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 font-family: Arial, Courier, monospace;
 font-size: 11px;
}

pre {
   border: 1px solid #000;  
   background-color: #ddd;
   margin: 0 1em 1em 1em;
   padding: 0.5em;
   line-height: 1.5em;
   font-size: 11px;


}

/* memisahkan div-div pada template, dengan bottom-border */
div.templatecode {
  margin: 0 0 2.5em;
}

/* END TEXT */

/* LISTS */

div#main ul,
div#main ol,
div#main dl {
   font-size: 1.0em;
   line-height: 1.4em;
   margin: 0 0 1.5em 0;
	list-style: none;
}

div#main ul li,
div#main ol li {
   margin: 0 0 0.25em 3em;
	list-style: none;
}


div#main dl dt {
   font-weight: bold;
   margin: 0 0 0 1em;
	list-style: none;
}
div#main dl dd {
   margin: 0 0 1em 1em;
	list-style: none;
}

div#main dl {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #c0c0c0;
  list-style: none;
}

H1{font-family: Arial, Verdana, Helvetica, sans-serif;font-size:11px;font-weight:normal;text-align: left;margin-bottom:5px;margin-top:5px;margin-left:10px;color:#ffffff;}
H2,H3,H4{font-family: Arial, Verdana, Helvetica, sans-serif;font-size:11px;font-weight:normal;text-align: left;margin-bottom:5px;margin-top:5px;margin-left:10px;color:#ffffff;}

#button {
	width: 100%;
	border-right: 0px solid #000;
	border-top: 1px solid #f3f3f3;
	padding: 0 0 0 0;
	margin-bottom: 0em;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background-color: #B0CE37;
	color: #fff;
	
	}
	#button ul {
		list-style: none;
		margin: 0;
		padding: 0;
		border: none;
		
		}
		
	#button li {
		border-bottom: 1px solid #E5E5E5;
		font-size: 12px!important;
		margin: 0;
		}
	#button ul ul a {
   font-size: 90%;
   padding: 0.5em 0.5em 0.5em 1.8em;
	border-top: 0px solid #f1f1f1;
      }
	#button li a {
		display: block;
		padding: 5px 5px 5px 5px;
		border-left: 5px solid #444444;
		border-right: 0px solid #A8AF8F;
		background-color: #ffffff;
		color: #000;
		text-decoration: none;
		font-size: 15px;
		width: 100%;
		}

	html>body #button li a {
		width: auto;
		}

	#button li a:hover {
		border-left: 5px solid #000000;
		border-right: 0px solid #B8BCA5;
		background-color: #f9f9f9;
		color: #B0CE37;
		}

/* END LISTS */

/* accessibility */

/* 
menu links accesskeys 
*/
span.accesskey {
   text-decoration:none;
}

/* 
divs accessibility tersembunyi secara default
teks, screenreaders dan semacamnya akan menunjukkan ini
*/
.accessibility, hr {
   position: absolute;
   top: -999em;
   left: -999em;
}

/* 
tag definisi juga tersembunyi
ini juga digunakan buat link menu 
*/
dfn {
   position: absolute;
   left: -1000px;
   top: -1000px;
   width: 0;
   height: 0;
   overflow: hidden;
   display: inline;
}
/* end accessibility */


/* wiki style external links */
/* meyembunyikan "external link" */
a.external span {
  position: absolute;
  left: -5000px;
  width: 4000px;
}

/* membuat ruang untuk image*/
a.external {

  padding: 0 12px 0 0;
}
/* warna buat external links */
a.external:link {
  color: #18507C;
/* background image untuk link yang menunjukan wiki style arrow */
  background: url(../images/cms/external.gif) no-repeat 100% 0;
}
a.external:visited {
  color: #18507C; 

  background: url(../images/cms/external.gif) no-repeat 100% 0; 
}

a.external:hover {
  color: #18507C;
  background: url(../images/cms/external.gif) no-repeat 100% 0; 
  background-color: #C3D4DF;
}
/* tutup wiki style external links */


/* clearing */

	.clearfix:after {
		content: "."; 
		display: block; 
		height: 0; 
		clear: both; 
		visibility: hidden;
	}
	* html>body .clearfix {
		display: inline-block; 
		width: 100%;
	}
	
	* html .clearfix {
		
		height: 1%;
		
	}

/* tutup clearing */

